---
layout: default
current: eventos
class: 'home-template'
navigation: True
---

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header " >
    <div class="inner">
        {% include site-nav.html %}
    </div>
</header>


<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-feed">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {%  include post-card-eventos.html %}
        </div>

    </div>
</main>