<ul class="nav" role="menu">
    <!--<li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about">Sobre nós</s></a></li>-->
    <!-- <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/eventos-anteriores/">Eventos anteriores</a></li> -->
    <li class="nav-try-ghost" role="menuitem"><a href="{{site.baseurl}}eventos">Eventos anteriores</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="{{site.baseurl}}estreia">Estreia</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="{{site.baseurl}}imprensa">Imprensa</a></li>
</ul>
    