<article class="post-card {{ page.class }}">
        <a class="post-card-image-link" href="{{site.baseurl}}estreia">
            <div class="post-card-image" style="background-image: url(assets/images/estreias/2astrusduo.jpg)"></div>
        </a>

    <div class="post-card-content">
        <a class="post-card-content-link" href="{{site.baseurl}}estreia">
            <header class="post-card-header">
                <h2 class="post-card-title">"Prima Terça — os poetas de Amália"</h2>
            </header>

        </a>
    </div>
</article>
<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}estreia">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/2astrusduo.jpg)"></div>
    </a>

<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}estreia">
        <header class="post-card-header">
            <h2 class="post-card-title">"BACALHAU"</h2>
        </header>

    </a>
</div>
</article>

<article class="post-card {{ page.class }}">
    <a class="post-card-image-link" href="{{site.baseurl}}estreia">
        <div class="post-card-image" style="background-image: url(assets/images/estreias/2astrusduo.jpg)"></div>
    </a>

<div class="post-card-content">
    <a class="post-card-content-link" href="{{site.baseurl}}estreia">
        <header class="post-card-header">
            <h2 class="post-card-title">"BACALHAU"</h2>
        </header>

    </a>
</div>

<footer class="post-card-meta">

    <span class="post-card-author">
        <a> CONA</a>
    </span>

    <!-- this is dumb
    <span class="reading-time">
        {% assign words = post.content | strip_html | number_of_words %}
        {% if words <= words_per_minute %}
        1 min leitura
        {% else %}
        {{ words | divided_by:words_per_minute }} min leitura
        {% endif %}
    </span>
    -->
</footer>
</article>
