
    <article class="post-card {{ page.class }}">
            <a class="post-card-image-link" href="{{site.baseurl}}estreia">
                <!-- <div class="post-card-image" style="background-image: url({{ site.baseurl }}{{ post.cover }})"></div> -->
            </a>

        <div class="post-card-content">
            <a class="post-card-content-link" href="{{site.baseurl}}estreia">
                <header class="post-card-header">
                                <span class="post-card-tags">"TESTE1"</span>
                            <span class="post-card-tags">"TESTE12"</span>


                    <h2 class="post-card-title">"BACALHAU"</h2>
                </header>

            </a>
        </div>
    </article>
